* {
  margin: 0;
  padding: 0;
}

.main-app {
  opacity: 0.6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1rem;
  background-color: lightgrey;
  padding: 1rem;
}
